
<html>
    <head>
        {{extend 'layout.html'}}
    </head>

    <body>
        <div class="general_container1">
            {{=LOAD('assemblies','assembly.load',args=request.args, ajax=True)}}
        </div>
        <div class="general_container1">
            {{=LOAD('datasets','dataset.load',args=dataset.id, ajax=True)}}
        </div>
        <div class="general_container1">
            {{=LOAD('assembly_qcs','assembly_qc.load',args=request.args, ajax=True)}}
        </div>
    </body>
</html>