@Color1 = #7E7F7D;
@Color2 = #D1FFC3;
@Color3 = #FBFFFA;
@Color4 = #6F7F6A;
@Color5 = #C9CCC8;

.general_background{
    background-color: #FBFFFA;
}

#container {
    background-color: #96ffbc;
    margin-right: -320px;
    float:left;
    width:100%;
}

#title {
    color: #5f5f5f;
    margin-left: 50px; /* 20px added for center margin */
}

.linktitle:hover {
    color: #5f5f5f;
    text-decoration: none;
}

#logo {
    width:300px;
    float:left
}

#banner {
    background-color: #96ffbc;
}

.table_row {
    background-color: #bbe6d6;
    width: 100%;
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.table_row:hover {
    background-color: #97FFA5;
    width: 100%;
    margin: 0.5cm 0.5cm 0.5cm 0.5cm;
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.table_header {
    background-color: #428670;
    color: #FBFFFA;
    width: 100%;
    margin: 0.5cm 0.5cm 0.5cm 0.5cm;
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
}

a{
    color: #5f5f5f;
}

.general_container1{
    background-color: #ebdcc1;
    float: left;
    width: 100%;
    /*border: 1px solid;*/
    margin: 0.5cm 0.5cm 0.5cm 0.5cm;
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.general_container2{
    float: left;
    width: 75%;
    border: 1px solid;
    margin: 0.5cm 0.5cm 0.5cm 0.5cm;
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.info_box{
    color: #FBFFFA;
    background-color: #428670;
    width: 50%;
    margin: 0.5cm 0.5cm 0.5cm 0.5cm;
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.specie_box {
    color: #5f5f5f;
    background-color: #c3f0df;
    width: 90%;
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.specie_box:hover {
    background-color: #96ffbc;
    opacity: 0.75;
}

.qc_val_container{
    background-color: #6F7F6A;
    float: right;
    width: 45%;
    margin: 0.5cm 0.5cm 0.5cm 0.5cm;
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.qc_val{
    background-color: #C9CCC8;
    float: left;
    border: 1px;
    border-color: #000000;
    padding: 0.1cm 0.1cm 0.1cm 0.1cm;
    margin: 0.2cm 0.2cm 0.2cm 0.2cm;
    width: 90%;
}

.qc_fig_container {
    background-color: #6F7F6A;
    float: left;
    width: 45%;
    margin: 0.5cm 0.5cm 0.5cm 0.5cm;
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
}

.qc_fig {
    background-color: #C9CCC8;
    width: 90%;
    margin: 0.5cm 0.5cm 0.5cm 0.5cm;
    padding: 0.2cm 0.2cm 0.2cm 0.2cm;
}

/*.qc_fig:hover {*/
    /*float: left;*/
    /*background-color: #01dde6;*/
    /*width: 200%;*/
    /*margin: 0.5cm 0.5cm 0.5cm 0.5cm;*/
    /*padding: 0.2cm 0.2cm 0.2cm 0.2cm;*/
/*}*/

.cont1 {
    float: left;
    width: 100%;
    /*border: 1px solid;*/
}

.cont2 {
    float: left;
    width: 49%;
    border: 1px solid;
}

.box {
    float: left;
    border: 1px solid;
}

.pipeline_component {
    color: #FBFFFA;
    display: inline-block;
    background-color: #5f5f5f;
    width: 96.5%;
    float: left;
    border: 1px solid;
    padding: 0.5cm 0.5cm 0.5cm 0.5cm;
    margin: 0cm 0cm 0cm 0cm;
}

.pipeline_parameter {
    color: #000000;
    background-color: #C9CCC8;
    float: left;
    text-align: center;
    width: 20%;
    border: 1px solid;
    padding: 0.1cm 0.1cm 0.1cm 0.1cm;
    margin: 0.1cm 0.1cm 0.1cm 0.1cm;
}

.pipeline_arrow {
    color: #000000;
    margin: 0cm 10cm 0cm 15cm;
}



/*@media (max-width: 580px) {*/
    /*#container {*/
        /*margin-right:0px;*/
        /*margin-bottom:20px;*/
    /*}*/
    /*#title {*/
        /*margin-right:0px;*/
        /*margin-left:150px;*/
        /*width:100%;*/
    /*}*/
    /*#logo {*/
        /*clear:left;*/
    /*}*/
/*}*/